
.hexagon {
    float: left;
    margin-left: -41px;
    margin-bottom: -61px;
    cursor: pointer;
    /*margin-top: -20px;*/
    /*margin-top: */
}

.hexagon {
	animation-duration: 0.2s;
	-webkit-animation-duration: 0.2s;
}

@keyframes show {
	from {opacity: 0; transform: scale(0); }
	to   {opacity: 1; transform: scale(1); }
}

@-webkit-keyframes show {
	from {opacity: 0; -webkit-transform: scale(0); }
	to   {opacity: 1; -webkit-transform: scale(1); }
}

.hexagon-row {
    clear: left;
}

.hexagon-row.even {
    margin-left: 52px;
}

.hexagon.transparent{
  visibility: hidden;
}

.hexagon.menu-a {
  fill: #ff0066;  
}

.hexagon.menu-b {
  fill: #2a8fbd;  
}

.hexagon.menu-c {
  fill: #7fac1b;  
}

.hexagon.menu-d {
  fill: #520039;  
}

.hexagon.menu-e {
  fill: #44aa55;  
}

.hexagon.menu-f {
  fill: #fbb829;  
}

.hexagon  .svg-menu-item {
  width: 145px;
  height: 145px;
}

.hexagon  .menu-item-text {
  overflow:hidden; 
  letter-spacing:0.1em; 
  text-anchor: middle; 
  font-size:14px;  
  /*font-family: 'Lobster', sans-serif;*/
  font-family: 'Droid Sans', sans-serif;
  /*font-family: Arial, Helvetica, sans-serif;*/
  stroke: white;
  stroke-width: 0px;
}


.hexagon  .menu-item-text .shadow {
  filter: url(#shadow); 
  fill: black;
}


.hexagon.menu-g {
}

.hexagon-info {
    position: absolute;
    right: -5px;
    cursor: pointer;
    margin-top: -35px;
    /*margin-bottom: -30px;*/
    transition: transform 0.3s;
}

.info-item:hover .hexagon-info {
    transform: scale(1.3);
}

.info-item.even .hexagon-info{
  right: 15px;
}

.hexagon-svg-icon {
	fill: none;
	stroke-width: 2px;
	stroke: white;
	stroke-linejoin:round;
}

.svg-menu-item:hover {
  stroke: #333;
  stroke-width: 2px;
  //animation-name: turn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  //-webkit-animation-name: turn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
}


@keyframes turn {
	from {transform: scale(1); }
	to   {transform: scale(0.9); }
}

@-webkit-keyframes turn {
	from {-webkit-transform: scale(1); }
	to   {-webkit-transform: scale(0.9); }
}

#arrows > path {
  fill: none;
  stroke-width: 2px;
  stroke: black;
  stroke-linejoin:round;

  animation-duration: 2s;
  animation-fill-mode: both;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: both;
}

#arrow1 { 
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
}

#arrow2 { 
    animation-delay: 0.1s;
    -webkit-animation-delay: 0.1s;
}

#arrow3 { 
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
}

#arrow4 { 
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
}

#arrow5 { 
    animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
}

#arrow6 { 
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}

@keyframes arrows-blink {
  0%   {opacity:1;} 
  25%  {opacity:0;}
  50%  {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes arrows-blink {
  0%   {opacity:1;} 
  25%  {opacity:0;}
  50%  {opacity:0;}
  100% {opacity:1;}
}


